body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(191, 204, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid rgb(29, 27, 27);
    padding: 20px;
    gap: 8px;
    border-radius: 8px;
}
 
.erro {
    border-color: red;
}
 
.acerto {
    border-color: green;
}